.App {
    margin: 10px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: gray;
}

tr:hover {
    background-color: #4eb5f1;
}

th {
    padding: 5px;
    background-color: lightsteelblue;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 180px;
}
