.footer {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

.social-icons {
    margin: 0.25rem;
}

.social-link {
    margin: 0.25rem;
}

.copyright {
    text-align: center;
}
