.nav-bar {
    overflow: hidden;
    display: flex;
    align-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightskyblue;
    
}

.nav-item {
    text-decoration: none;
    margin: 0.5rem;
    color:#053F5F;
    color: #053f5f;
}

.shopping-cart {
    width: 40px;
    height: 40px;
}
