
@import "./css/App.css";
@import "./css/Login.css";
@import "./css/NavBar.css";
@import "./css/Login.css";
@import "./css/Register.css";
@import "./css/Products.css";
@import "./css/User.css";
@import "./css/Footer.css";

form {
    margin: 5px;
}



.header {
    display:grid;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.header-item {
    margin: 0.25rem;
}
