
@import "./css/App.css";
@import "./css/Login.css";
@import "./css/NavBar.css";
@import "./css/Login.css";
@import "./css/Register.css";
@import "./css/Products.css";
@import "./css/User.css";
@import "./css/Footer.css";
@import "./css/Admin.css";
@import "./css/Header.css";

body {
    background-color: gray;
}

div {
    background-color: gray;
}


input {
    height: 1.5rem;
}
